# Scraper Links
GUMTREE_LINK=your_gumtree_search_link
RIGHTMOVE_LINK=your_rightmove_search_link

# Email Configuration (Mailjet)
SEND_EMAIL=true
MJ_APIKEY_PUBLIC=your_mailjet_public_key
MJ_APIKEY_PRIVATE=your_mailjet_private_key
SENDER_EMAIL=your_verified_sender_email@example.com
RECIPIENT_EMAIL=recipient_1@example.com;recipient_2@example.com
START_DATE_FILTER=2026-08-01 # omit if no start date filter

# Service Configuration
DATA_DIR=./data
